
        <h1>Forkyz</h1>

        <p>
            This is an unofficial fork of the Shortyz
            crossword app. It implements a number of new features and
            removes some non-open libraries / trackers.
        </p>
    <h2>Version 52</h2>

• Fix erratic next clue button.<br>
• Fix crash on load on Android 7.<br>
• Fix crash in anagram helper on Android 9 and prediction setting.<br>
• Fix crash on external puzzle import.<br>
• Read date and full title in Brains Only format.<br>
<h2>Version 51</h2>

• Add compact option for Forkyz keyboard (keyboard settings).<br>
• Add grid/clue ratio option for Play screen (display settings).<br>
• Add optional clue line below grid (display settings).<br>
• Add NYT Syndicated downloader and Pzzl.com share-import.<br>
• Target Android 14, update libs, min version KitKat now.<br>
<h2>Version 50</h2>

• Import puzzles by sharing a URL with Forkyz (works with links to puzzle files and webpages for Crossword Nexus, Exolve, Guardian, Hamburger Abendblatt, Metro (UK), Przekroj, De Standaard, De Telegraaf, Wall Street Journal (sometimes), and similar).<br>
• Support new input formats (AM Universal JSON, Exolve, PA Puzzles HTML, Spoonbill, Wall Street Journal JSON, .xd, XWord).<br>
• Downloader for UK Metro daily cryptic.<br>
• Ability to flag cells.<br>
• Add show percentage correct option in puzzle browser.<br>
• Editing of unselectable clues.<br>
<h2>Version 49</h2>

• Add external tools menu and settings (billthefarmer's Crossword solver, dictionaries, ChatGPT).<br>
• Predict anagram letters in notes (interaction settings).<br>
• Fix enter changes direction, Przekroj download, and reading of legacy date metadata.<br>
• Make parsing of some puzzle files (JSON) more lenient.<br>
• Clear empty sections when moving/deleting puzzles.<br>
<h2>Version 48</h2>

• Skip letters that won't be deleted when backspacing<br>
• When cycle unfilled words is enabled, cycle backwards as well as forwards<br>
• Detect .puz files with "no solution" (i.e. either all answers X or all D)<br>
• Brighten default flag colour in night mode<br>
• Fix floating action button position on some devices<br>
<h2>Version 47</h2>

• Fix crash on start on some devices.<br>
<h2>Version 46</h2>

• Add filter to puzzle list<br>
• Automatically import files from "to-import" folder<br>
• Infer some metadata from filename if needed (supports default xword-dl and Forkyz conventions)<br>
• Report ChatGPT error messages in response<br>
<h2>Version 45</h2>

• Fix broken autodownloads<br>
• Add edit clue to notes page menu<br>
• Fix scroll to clue behaviour<br>
<h2>Version 44</h2>

• Add cycle on unfilled words option in settings.<br>
• Add multi-coloured flags (long press flag clue on notes or use menu).<br>
<h2>Version 43</h2>

• Large back-end rework to settings management and other parts (please report issues).<br>
• Minor bug fixes, consistency improvements, and slight theme change.<br>
<h2>Version 42</h2>

• New Forkyz Scanner app submitted to FDroid (scans photos, images, PDF).<br>
• Add show errors for completed clues option.<br>
• Add edit clue hint feature from clue list view menu.<br>
• Fix Hamburger Abendblatt download.<br>
• Hide show errors and reveal options when puzzle has no stored solution.<br>
• Brighten standard theme grey a little.<br>
• Simplify help/release notes screens with better theme support.<br>
• Use Material text inputs in places.<br>
• Close after external import to avoid launcher weirdness.<br>
• Open shared files and application/json.<br>
• Native keyboard improvements should work on more devices.<br>
<h2>Version 41</h2>

• Support background shapes in IPuz spec (both IPuz and JPZ import).<br>
• Jump to random clue via shake (interaction settings) or voice ("jump").<br>
• Remove Notre Temps Geant Force 2 downloader (not a regular puzzle).<br>
<h2>Version 40</h2>

• Add "ask Chat GPT for help" (configure in interaction settings).<br>
• Welcome users to new versions, with link to release notes.<br>
• For cells not attached to clues, toggle between selecting the cell and all detached cells.<br>
• Add Nathan Curtis and Luckystreak XWords to online sources page.<br>
<h2>Version 39</h2>

• Improved accessibility: clue/box announcements via TalkBack or text-to-speech.<br>
• Support more puzzle styling (colours, dots/dashes, blocks).<br>
• Support more IPuz style features (plus some relaxations like HTML colours).<br>
• Support JPZ "clue" cells, move citations to completion message.<br>
• Support dashed bars in RCI Jeux imports, plus more French puzzles (thanks slock83).<br>
• Fix cleanup bug for completed puzzles.<br>
• Display intro on first run, add completion data to puzzle info.<br>
• Changelog in release notes in help.<br>
<h2>Version 38</h2>

• New De Telegraaf and De Standaard downloaders.<br>
• New play screen for acrostic puzzles.<br>
• Streamline board rendering (please report bugs).<br>
• Wrap long board views in clue list and notes.<br>
• New Keesing XML parser.<br>
• Additional features BrainsOnly: circled boxes, rebus square, puzzle info.<br>
• Additional features IPuz: clue labels, any crossword kind, acrostic, "smart" cell indexing (default 0-based now).<br>
• Additional features JPZ: support Alex Boisvert's acrostic extensions.<br>
• Group cells with no attached clue for easier entering.<br>
• Remake app icon with Android 13 themed icon support.<br>
• Fix scratch mode in main board view and other bugs.<br>
<h2>Version 37</h2>

• Add voice commands to puzzle activities.<br>
• Downloaders setup now aware of expected availability time of puzzle sources.<br>
• Target Android 13.<br>
• Minor UI tweaks.<br>
<h2>Version 36</h2>

• Fix King Digital downloaders.<br>
<h2>Version 35</h2>

• Warn if no connection when downloading.<br>
• Add legacy-like theme option.<br>
• Allow auto/background downloaders to be a sub-selection of enabled downloaders.<br>
<h2>Version 34</h2>

• Support USA Today Sunday downloads (thx th0mcat).<br>
<h2>Version 33</h2>

• "Pinned" solution word in Hamburger Abendblatt puzzles.<br>
• Move "show all words" clue list option to clue list menu.<br>
<h2>Version 32</h2>

• Switch to Material 3 Theme.<br>
• Enable dynamic (Material You) colours in settings.<br>
• Revamp settings screen into sub-screens.<br>
<h2>Version 31</h2>

• Remove "failed" notification when downloading an existing puzzle.<br>
<h2>Version 30</h2>

• Optional PuzzleMe mobile-style clues list showing all words<br>
<h2>Version 29</h2>

• Daily downloads from WSJ<br>
• Washington Post Sunday download (from Martin Herbach)<br>
<h2>Version 28</h2>

• Fix crash in landscape mode.<br>
<h2>Version 27</h2>

• Slightly finer-grained control of notifications in settings.<br>
• Notify about failed downloads.<br>
<h2>Version 26</h2>

• Add configurable timeout to puzzle download.<br>
• Parallelise downloads.<br>
• Support rebus cells in AcrossLite (.puz) files.<br>
• Support puzzle intro messages (in "info") and completion messages (on complete dialog).<br>
<h2>Version 25</h2>

• Bugfix release.<br>
<h2>Version 24</h2>

• New daily download: Hamburger Abendblatt (German).<br>
• New daily download: Le Parisien (French).<br>
• New scraper: Przekroj Magazine (Polish), with pictures!<br>
• Attempt to handle native keyboard properly (can now input diacritics and emojis).<br>
• Allow custom download source in any supported format, not just .puz.<br>
• New supported import formats: Raetselzentrale Schwedenratsel JSON, RCI Jeux Mots Fleches JSON, Guardian HTML, Przekroj HTML and JSON.<br>
• Refresh online puzzle sources list.<br>
• Correct charset for Across Lite (.puz) version 2.0 and up.<br>
• Add share URL. Visible when sharing clues, and can be opened from share menu.<br>
<h2>Version 23</h2>

• Add share clue/board feature.<br>
• Support notes on all clues, cells with numbers in different positions, and entering multiple characters into a single cell.<br>
• Enable automatic clue text size scaling for older devices, remove clue text size menu option.<br>
<h2>Version 22</h2>

• Experimental sources are now scrapers, visible in download dialog.<br>
• Add Private Eye as downloadable source.<br>
• Support split clues in Guardian puzzles.<br>
• Add insert special characters feature.<br>
• Refresh online sources list.<br>
• Remove Washington Post source: AmuseLabs now obfuscate their data, i assume to prevent third-party downloads.<br>
<h2>Version 21</h2>

• Allow customisation of automatic downloads, and support older devices.<br>
• Bring back the native keyboard (your mileage may vary).<br>
• Restore wrap to next list behaviour for next clue movement strategy.<br>
<h2>Version 20</h2>

• Move to puzzle "zones" instead of only across/down clues, and allow non-standard clue numbers. Supports e.g. spirals and rows gardens in IPuz and JPZ.<br>
• Haptic feedback option on keyboard.<br>
<h2>Version 19</h2>

• Support coloured cells in JPZ and IPuz<br>
• Support bars in JPZ as well as IPuz<br>
• Support HTML in clue/title/etc text<br>
• Player notes for whole puzzle as well as just clue<br>
• Limited support for additional clue lists (not just across/down)<br>
• Allow cells that would typically be numbered to not be numbered<br>
<h2>Version 18</h2>

• Remove LA Times and Washington Post Classic downloads.<br>
• Allow import of multiple files simultaneously.<br>
<h2>Version 17</h2>

• Fix crashes when first box is blank, and when crossword directories have been deleted.<br>
<h2>Version 16</h2>

• Initial support for bar puzzles in IPuz format (tested on Square Chase puzzles only).<br>
• Add "flag clue" feature.<br>
• Add hide button option for keyboard (good for gesture navigation).<br>
• Display word count in clue list when option set.<br>
• Recode parallel movement strategy.<br>
<h2>Version 15</h2>

• Repair download for Android 12<br>
• Notes page: long press board while anagram source selected now copies board to anagram solution.<br>
• Corrected snap-to-clue behaviour<br>
• Fixed oddities in clue tabs<br>
<h2>Version 14</h2>

• Bug fixes and library updates.<br>
<h2>Version 13</h2>

• Support for QWERTZ, Colemak and Dvorak keyboard layouts.<br>
• Custom daily .puz source added to downloads.<br>
<h2>Version 12</h2>

• Fix Newsday downloads.<br>
<h2>Version 11</h2>

• Add change clue and direction buttons to keyboard.<br>
• Show puzzle author on browse screen.<br>
<h2>Version 10</h2>

• Updated list of online puzzle sources.<br>
• Add show errors under cursor option.<br>
• Amuse Labs and King Digital downloads supported: circled boxes now work for LA Times puzzles, bring back Washington Post, LAT Sundays, Joseph, Sheffer, and Premier crossword downloaders.<br>
• Circled boxes re-enabled in JPZ puzzles.<br>
• Improved error highlighting in night colors.<br>
<h2>Version 9</h2>

• Bug fix: set source and support URL properly for Guardian downloads.<br>
<h2>Version 8</h2>

• Import of IPuz files<br>
• Use IPuz as backend file format instead of Across Lite<br>
• Remove HTTP/download system actions in favour of "open with"<br>
• Prevent multiple simultaneous browse activities<br>
• Avoid reloading puzzle list in browse activity on delete/move, and losing scroll position<br>
• Friendlier import file names<br>
<h2>Version 7</h2>

• Import files from storage.<br>
• Updated help pages, including notes help.<br>
• List of external sources where puzzles can be downloaded.<br>
• New default keyboard mode only hides with back button.<br>
• Adjustment of zoom/snap behaviour on play board.<br>
<h2>Version 6</h2>

• Cache meta data to speed up browsing (after first view).<br>
• Clean up zoom/scroll behaviour.<br>
• Add menu option link to support puzzle sources.<br>
• Improve arrow key navigation (inc. bug fixes).<br>
• Fix crash in browsing when last puzzle was deleted.<br>
<h2>Version 5</h2>

• Compatible with Android 11.<br>
• Updated downloadable puzzles.<br>
• Theme and UI adjustments.<br>
• Notes/anagram solving screen.<br>
• Remove Google integration.<br>
• Remove Crashlytics.<br>
